<div class="block-continue-learning">
    {{#hascategories}}
        <div class="continue-learning-category-grid">
            {{#categories}}
                <a class="continue-learning-card continue-learning-category-card" href="{{url}}">
                    <div class="card-body">
                        <div class="card-title">{{name}}</div>
                        <div class="category-meta">{{coursecount}} {{#str}} courselabel, block_continue_learning {{/str}}</div>
                    </div>
                </a>
            {{/categories}}
        </div>
    {{/hascategories}}
    {{^hascategories}}
        <div class="continue-learning-empty">{{#str}} nocategoriesenrolled, block_continue_learning {{/str}}</div>
    {{/hascategories}}
</div>
